* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    padding: 15px 15px;
    background-color: rgba(255, 255, 255, 0.067);
    font-size: 15pt;
    list-style: none;
    border-style:double;
    border-color: rgba(76, 76, 76, 0.211);
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.819);
}

ul li:hover {
    background-color: rgba(141, 135, 135, 0.149);
    cursor: pointer;
}

ul li.checked {
    background-color: rgba(86, 84, 87, 0.326);
    text-decoration: line-through;
    color: aliceblue;
    
}

ul li.checked::before {
    content: '';
    border-style: double;
    border-color: rgb(3, 3, 3);
    border-width: 0px 2px 2px 0px;
    top: 17px;
    left: 280px;
    transform: rotate(45deg);
    height: 15px;
    width: 5px;
    position: absolute;
}

.main-div {
    color: white;
    text-align: center;
    padding: 30px 25px;
    background-color: rgba(124, 208, 236, 0.436);
    border-radius: 10px;

}
h2 {
    padding: 10px;
    background-color: rgba(12, 11, 11, 0.096);
    border-radius: 20px;
   border-style: double;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.main-div::after {
    content: "";
    display: table;
    clear: both;
}
input {
    margin: 0;
    border: none;
    width: 500px;
    height: 40px;
    padding: 11px;
    font-size: 12pt;
   
}

#addButton {
    background-color: rgba(65, 62, 62, 0.791);
    padding: 10px;
    width: 30px;
    text-align: center;
    border-radius: 9px;
    cursor: pointer;
}

#addButton:hover {
    background-color: rgb(197, 203, 221);
}
.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
    width: 40px;
  }

  .close:hover {
    background-color: rgba(128, 128, 128, 0.106);
    border-radius: 190px;
  }
#delete {
    font-size: 12pt;
    font-weight: bold;
    width: 200px;
    text-align: center;
    
    border-radius: 5px;
    transition: 0.2s ;
    padding: 10px;
    margin: 30px;
    background-color: rgba(129, 128, 138, 0.065);
    color: rgba(0, 0, 0, 0.909);
    cursor: pointer;
    margin: 40px 200px;
}

#delete:hover {
    background-color: rgba(140, 131, 131, 0.598);
    color: rgba(0, 0, 0, 0.588);
}

#textArea {
    border-radius: 5px;
}